@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Roboto+Slab:wght@500&display=swap');

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

button{
  font-family: 'Lato', sans-serif;
}

.buttonWidth{
  width: 25%;
}

.circleTableWidth{
  width: 290px;
}

.colForRightSide{
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.colForSideBar{
  background-color: #CFD8DC;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;

}

.customerInfoStyle{
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.font{
  padding-top: 1em;
  font-family: 'Cantata One', serif;
}

.grayBackground{
  background-color: rgb(245, 245, 245);
}

h1, h4{
  font-family: 'Lato', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

nav{
  background-color: white;
  font-family: 'Lato', sans-serif;
}

.pt-6 {
  padding-top: 3.5rem;
  padding-bottom: 1rem;
}

.rectangleFourTopWidth{
  width: 270px;
}
.rectangleSixthTopWidth{
  width: 430px;
}

.rectangleTwoTopWidth{
  width: 140px;
}

.spacer{
  height: 60px;
}

.squareEightTopWidth{
  width: 300px;
}

.styleFont{
  font-family: 'Cantata One', serif;
  color: rgb(140, 140, 140);
}


