.border-3 {
  border-width: 3px !important;
}

.chairHeight {
  height: 2em;
  width: 10em;
}

.chairSpacing {
  margin-left: 7em;
}

.marginSide {
  margin-top: 5em;
}

.chairWidth {
  width: 2em;
  height: 10em;
}

.tableBorder {
  border-radius: 3rem !important;
}

.topChairBorder {
  border-top-left-radius: 3rem !important;
  border-top-right-radius: 3rem !important;
}
.bottomChairBorder {
  border-bottom-left-radius: 3rem !important;
  border-bottom-right-radius: 3rem !important;
}

.leftChairBorder {
  border-top-left-radius: 3rem !important;
  border-bottom-left-radius: 3rem !important;
}

.rightChairBorder {
  border-top-right-radius: 3rem !important;
  border-bottom-right-radius: 3rem !important;
}

.tableColor {
  border-top-right-radius: 3rem !important;
  border-bottom-right-radius: 3rem !important;
}
